body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #4d4d4d;
  display: block;
  font-size: 40px;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

h2 {
  color: #4d4d4d;
  display: block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 30px;
  text-align: left;
}

h3 {
  color: #4d4d4d;
  display: block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: #4d4d4d;
  display: block;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  line-height: 40px;
  text-align: center;
}

p {
  color: #4d4d4d;
  display: block;
  font-size: 20px;
  font-weight: 150;
  line-height: 20px;
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  block-size: 60px;
}

.image {
  display: block;
  margin: 20px auto;
  block-size: 150px;
}
.weather-app {
  border: 2px solid #4d4d4d;
  border-radius: 7px;
  padding: 10px;
}

.container {
  padding: 0px;
  margin: 10px;
  max-width: 800px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.container-header {
  padding: 10px;
  margin: 20px 20px 0px 20px;
}

.temperature {
  font-weight: 800;
  font-size: 45px;
}

.weather-type {
  margin-top: 5px;
}

.details {
  text-align: left;
  margin-top: 13px;
}

.input-group-append {
  background-color: #ffe07d;
}
