body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: #4d4d4d;
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

h3 {
  color: #4d4d4d;
  display: block;
  margin: 0 auto;
  font-weight: 600px;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: #4d4d4d;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

p {
  color: #4d4d4d;
  display: block;
  font-size: 18px;
  font-weight: 150;
  line-height: 15px;
  text-align: center;
}

img {
  display: block;
  block-size: 60px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  font-weight: 300px;
  font-size: larger;
  text-decoration: none;
}

.weather-app {
  border: 2px solid #4d4d4d;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  max-width: 700px;
  background-image: linear-gradient(to top, #879487 0%, #c1dfc4 100%);
}

.city {
  display: block;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 25px 0px 5px 20px;
}

.day-details {
  text-align: left;
  margin-left: 20px;
}
.time-details {
  text-align: left;
  margin-left: 20px;
}

.main-image {
  block-size: 100px;
  display: block;
  margin: 0 auto;
}

.temperature {
  font-weight: 800;
  font-size: 40px;
}

.temp-units {
  position: relative;
  top: -15px;
}
.weather-type {
  margin-left: 25px;
  text-transform: capitalize;
}
.details {
  font-size: 18px;
  color: #4d4d4d;
}

.input-group-append {
  background-color: #ffe07d;
  border-radius: 4px;
}

.forecast-image {
  block-size: 100px;
  margin: 0px auto;
}

.col-sm-4-details {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
